body {
    background: linear-gradient(rgb(218, 232, 184), rgb(225, 193, 133), white);
}

#navSuperior {
    background-color: rgb(218, 232, 184);
    border: solid 2px rgb(248, 247, 245);
}

header {
    height: 250px;
    background-color: rgb(218, 232, 184);
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0, 0.2);
}

h1 {
    height: 50px;

}

.carrusel {
    width: 50%;
    height: auto;
}

.carousel-img {
    border: solid white 4px;
    border-radius: 5px;
}
#carouselHeader {
    width: 240px;
}

#historiaDiv {
    margin-top: 25px;
    margin-bottom: 25px;
}

.card-body {
    background-color: rgb(234, 240, 239);
    box-shadow: 4px 4px 4px 4px rgb(0, 0, 0, 0.2);
    border: solid rgb(246, 242, 242) 4px;
    border-radius: 5px;
}

footer {
    border-top: solid rgb(86, 85, 85) 1px;
    text-align: center;
    background-color: rgb(218, 232, 184);
    padding-top: 15px;
    padding-bottom: 15px;

}