/* ESTILOS PERSONALIZADOS */

/* PALETA DE ESTILOS
http://paletton.com/#uid=10V0u0kd5sf4oLt8szaidndn1ix
.color-primary-0 { color: #E1C185 }	--->>>> Main Primary color 
.color-primary-1 { color: #FFF3DC }
.color-primary-2 { color: #FFE8BC }
.color-primary-3 { color: #B99550 }
.color-primary-4 { color: #946F29 } */

body {
    background: linear-gradient(rgb(218, 232, 184), rgb(225, 193, 133), white);
}

#navSuperior {
    background-color: #FFF3DC;
    border: solid 3px rgb(246, 217, 162);
}

footer {
    background-color: #FFF3DC;
    margin-top: 20px;
}

.sombra {
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.38);
}

#contenedorPrincipal {
    margin-top: 20px;
    padding: 10px;
}

#listaProductos {
    margin-top: 20px;
}

.imagen-listado {
    width: 150px;
    height: 150px;
}
